.Heroes-container {
  background-image: url("../assets/fondo-ingreso2.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
  padding: 40px;
  margin: 0;
}

.information-start {
display: flex;
justify-content: center;
align-items: center;
height: 100%;
}

.start {
  padding: 15px;
  text-align: center;
  color: #1e1e1e;
}

.start .start-text h2 {
  margin: 0;
  color: #fff;
  font-size: 35px;
  text-transform: uppercase;
  animation: scale 3s infinite;
}

.start-text {
  margin-bottom: 15px;
}

.start-logo {
  text-align: center;
  margin-bottom: 20px;
}

.start-logo img {
  width: 80%;
}

.start div .btn {
  border: none;
  background: #484848;
  width: 165px;
  font-size: 20px;
  height: 60px;
  line-height: 30px;
  color: #ffffff;
  font-weight: bold;
  display: inline-block;
  border-radius: 8px;
  cursor: pointer;
  padding: 14px 30px;
  animation: scale 3s infinite;
}

.start div .btn:hover {
  background: #000000;
}

.card .image-card img {
  width: 100%;
}

.card {
  width: 300px;
  background: #fff;
  border-radius: 35px;
  padding: 60px 15px 15px;
}

.card .image-card {
  top: -7px;
  left: 0;
  width: 100%;
  text-align: center;
}

.card .name-card h2 {
  color: #61b593;
  margin: 0;
  border-bottom: 3px solid;
  text-transform: capitalize;
  font-size: 23px;
}

.card .card-description {
  font-size: 11px;
  color: #717171;
  font-weight: bold;
  
}

.card .card-option {
  display: grid;
  grid-template-columns: 50% 50%;
  color: #7c9b9d;
  text-transform: uppercase;
  padding-bottom: 10px;
  font-size: 12px;
}

.card .card-option .card-ubication {
border-right: 1px solid;
}

.card .card-option div p:first-child {
  font-weight: bold;
}

.card .card-option p {
  margin: 0;
}

.card .card-theme p {
  margin: 0;
  text-transform: uppercase;
  color: #7c9b9d;
  text-align: left;
  font-size: 13px;
  margin-top: 9px;
}

.card .card-theme {
  border-top: 0.2px solid #bdbdbd;
  font-weight: bold;
}

.card .card-theme .card-theme-item {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0px 0px 10px;
}

.card .card-theme .card-theme-item div {
  flex: 0 0 46%;
  color: #7c9b9d;
  border: 1px solid #7c9b9d;
  border-radius: 8px;
  line-height: 26px;
  text-transform: capitalize;
  font-size: 12px;
  margin: 5px 5px 0 0;
}

.card-btn button {
  font-size: 14px;
  text-transform: uppercase;
  background: #00EAB8;
  color: #fff;
  min-height: 28px;
  outline: none;
  border: #fff;
  border-radius: 4px;
  -webkit-box-shadow: 10px 10px 27px -12px rgba(0,0,0,0.75);
  -moz-box-shadow: 10px 10px 27px -12px rgba(0,0,0,0.75);
  box-shadow: 10px 10px 27px -12px rgba(0,0,0,0.75);
  cursor: pointer;
}
