html{
  width: 100%;
  height: 100%;
}

body {
  width: auto;
  height: 100%;
}

* {
  border: 0;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.App {
  height: calc(100vh - 60px);
}

.App-logo {
  width: 150px;
}

.App-header {
  display: flex;
  background-color: white;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  height: 60px;
  box-shadow: #ddd 0px 2px 2px;
}

.App-link {
  text-decoration: none;
  font-size: 1.4rem;
  padding: 0 20px;
}

.Home-main {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: calc(100vh - 60px);
  background-color: rgb(36,38,39);
  align-items: center;
  justify-content: center;
}

.Home-main > p {
  color: white;
  font-size: 1.6rem;
}

.slick-slide img {
  margin: auto;
}

.mascots {
  display: flex;
  flex-direction: row;
}

.mascots img {
  height: 200px;
}

.item {
  text-align: center;
}