* {
  border: 0;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.App {

}

.App-logo {
  width: 150px;
}

.App-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  box-shadow: #ddd 0px 2px 2px;
}

.App-link {
  text-decoration: none;
  font-size: 1.4rem;
  padding: 0 20px;
}